  #photography-index-page a, #photography-index-page a:visited, #photography-index-page a:focus, #photography-index-page a:active {
    color: #5788BA;
  }
  
  #photography-index-page a:hover, #photography-index-page a.active {
    color: #68A3DD;
  }
  
  
  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
  }
  
  
  .shadow-5 {
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$drop-shadow-color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$drop-shadow-color');
    background: white;
  }
  
  .block {
    display: block;
  }
  
  
  .album {
    position: relative;
    float: none;
    margin: 0 auto;
    height: 197px;
    width: 250px;
    display: block;
  }
  .album .album-info {
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid grey !important;
    border-left: 1px solid grey!important;
    border-bottom: 4px solid grey!important;
  }

  
 .album-info h4 {
  padding:0 !important;
  margin: 0;
}

.album-info h5 {
  padding: 0;
  margin: 0;
}


  .album .thumb .polaroid {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333333;
    background-size: cover;
    background-position: 50% 50%;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-bottom-width: 20px;
    box-sizing: border-box;
  }
  .album .thumb:nth-child(1) .polaroid {
    top: 15px;
    left: 15px;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    -moz-animation: splayImages-1 1s ease-out 0s alternate 1;
    -webkit-animation: splayImages-1 1s ease-out 0s alternate 1;
    animation: splayImages-1 1s ease-out 0s alternate 1;
  }
  @keyframes splayImages-1 {
    0% {
      top: 0px;
      left: 0px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      top: 15px;
      left: 15px;
      -webkit-transform: rotate(-1deg);
      -ms-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
  }
  .album .thumb:nth-child(2) .polaroid {
    top: 30px;
    left: 30px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -moz-animation: splayImages-2 1s ease-out 0s alternate 1;
    -webkit-animation: splayImages-2 1s ease-out 0s alternate 1;
    animation: splayImages-2 1s ease-out 0s alternate 1;
  }
  @keyframes splayImages-2 {
    0% {
      top: 0px;
      left: 0px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      top: 30px;
      left: 30px;
      -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  }

  .album .thumb:nth-child(3) .polaroid img {
    -webkit-box-shadow: 0 0 0 0px #fff;
    box-shadow: 0 0 0 0px #fff;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    
  }
  .album .thumb:nth-child(3) .polaroid {
    top: 45px;
    left: 45px;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -moz-animation: splayImages-3 1s ease-out 0s alternate 1;
    -webkit-animation: splayImages-3 1s ease-out 0s alternate 1;
    animation: splayImages-3 1s ease-out 0s alternate 1;
  }
  @keyframes splayImages-3 {
    0% {
      top: 0px;
      left: 0px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      top: 45px;
      left: 45px;
      -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
  }